/* --- CHAT --- */

#chat .welcome {
    	color: #2ea8d1;
    	border: #2ea8d1 1px solid;
}

/* --- ROOM --- */

#room-bar .favorite.selected .icon-grab {
    	background: url(https://i.imgur.com/dcA3qkR.png) no-repeat;
}

#rcs-progress-container .bar {
	background-color: #2ea8d1 !important;
}

/* --- USERS --- */

#user-lists .list.staff .group {
	color: #58f;
	background: linear-gradient(to right, rgb(0, 23, 47) 0, rgb(4, 25, 47) 100%) !important;
}

#user-lists .list.staff .user {
	color: #58f !important;
}

#user-lists .list.staff .group.host .icon-chat-host {
	background: url(https://i.imgur.com/lcAprsH.png) no-repeat;
}

#user-lists .list.staff .group.manager .icon-chat-manager {
	background: url(https://i.imgur.com/YPtY3v8.png) no-repeat;
}

#user-lists .list.staff .group.bouncer .icon-chat-bouncer {
	background: url(https://i.imgur.com/pjMeDlL.png) no-repeat;
}

#user-lists .list.staff .group.dj .icon-chat-dj {
	background: url(https://i.imgur.com/MwHguO3.png) no-repeat;
}
