#user-lists .list.staff .group {
    background: linear-gradient(to right, rgb(0, 23, 47) 0, rgb(4, 25, 47) 100%) !important;
    border-top: 1px solid #04203c;
    border-bottom: 1px solid #04203c;
}

#user-lists .list.staff .group.host .icon-chat-host {
	background: url(https://i.imgur.com/ohgdXc5.png) no-repeat;
}

/* --- manager --- */
.icon-chat-manager + span,
#user-lists .group.manager ~ .user span,
#dialog-user-role .role-menu .menu ul .manager span {
  color: #39F !important;
}
#user-lists .group.manager {
  color: #39F;
  background: linear-gradient(to right, hsla(210,100%,10%,.5), hsla(210,100%,20%,.5)) !important;
}
/* --- */ 

#user-lists .list.staff .group.bouncer .icon-chat-bouncer {
	background: url(https://i.imgur.com/mL8QdGC.png) no-repeat;
}

#user-lists .list.staff .group.dj .icon-chat-dj {
	background: url(https://i.imgur.com/V3RdBBG.png) no-repeat;
}
